---
import profilePicture from '~/assets/marvin-rudolph.webp'
import Layout from '../layouts/layout.astro';
---

<Layout>
	<div class="max-w-screen-sm mx-auto px-4 pt-20">
		<div class="flex items-center gap-2.5 mb-4">
			<img src={profilePicture.src} alt="Marvin Rudolph" class="size-11 rounded-full shrink-0" />
			<div>
				<h1 class="font-medium">Marvin Rudolph</h1>
				<p class="text-neutral-500">Full-Stack Engineer</p>
			</div>
		</div>
		<p class="text-neutral-500">Experienced software engineer with a passion for </p>
	</div>
</Layout>
