@import "tailwindcss";

@theme {
  --font-sans: 'InterVariable', sans-serif;
  --font-serif: 'Erode', serif;
}

@layer base {
  :root {
    @apply antialiased text-neutral-900 bg-white;
  }

  body {
    @apply text-sm;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
